.dashboard {
  padding: 1rem;
  .sectionHeading {
    margin-block: 1rem;
    font-weight: 300;
  }
  .mySection {
    .tab {
      display: flex;
      min-height: 15em;
      flex-wrap: wrap;
      & > * {
        flex-basis: 50%;
        width: 100%;
        flex: 1;
      }
      width: 100%;
    }
  }
}
